<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoPaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoPaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AutoPaper.Properties.Settings>
            <setting name="delay" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="filter" serializeAs="String">
                <value>[3840x2160]</value>
            </setting>
            <setting name="policyA" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="policyB" serializeAs="String">
                <value>Popular</value>
            </setting>
            <setting name="style" serializeAs="String">
                <value>Centered</value>
            </setting>
        </AutoPaper.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AutoPaper.Properties.Settings>
            <setting name="lastUri" serializeAs="String">
                <value />
            </setting>
        </AutoPaper.Properties.Settings>
    </applicationSettings>
</configuration>